In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("House_Price_dataset.csv")

In [3]:
df.head(100)

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4.0,2.0,3.0,yes,no,no,no,yes,2.0,yes,furnished
1,12250000,8960,4.0,4.0,4.0,yes,no,no,no,yes,3.0,no,furnished
2,12250000,9960,3.0,2.0,2.0,yes,no,yes,no,no,2.0,yes,semi-furnished
3,12215000,7500,4.0,2.0,2.0,yes,no,yes,no,yes,3.0,yes,furnished
4,11410000,7420,4.0,1.0,2.0,yes,yes,yes,no,yes,2.0,no,furnished
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,6300000,4100,3.0,2.0,3.0,yes,no,no,no,yes,2.0,no,semi-furnished
96,6300000,9000,3.0,1.0,1.0,yes,no,yes,no,no,1.0,yes,furnished
97,6300000,6400,3.0,1.0,1.0,yes,yes,yes,no,yes,1.0,yes,semi-furnished
98,6293000,6600,NaN,2.0,3.0,yes,no,no,no,yes,NaN,yes,unfurnished
99,6265000,6000,4.0,1.0,3.0,yes,yes,yes,no,no,0.0,yes,unfurnished

In [4]:
df.shape

(545, 13)

In [5]:
df.describe()

,price,area,bedrooms,bathrooms,stories,parking
count,5.450000e+02,545.000000,540.000000,540.000000,543.000000,541.000000
mean,4.766729e+06,5150.541284,2.961111,1.285185,1.804788,0.691312
std,1.870440e+06,2170.141023,0.738779,0.502464,0.869011,0.860070
min,1.750000e+06,1650.000000,1.000000,1.000000,1.000000,0.000000
25%,3.430000e+06,3600.000000,2.000000,1.000000,1.000000,0.000000
50%,4.340000e+06,4600.000000,3.000000,1.000000,2.000000,0.000000
75%,5.740000e+06,6360.000000,3.000000,2.000000,2.000000,1.000000
max,1.330000e+07,16200.000000,6.000000,4.000000,4.000000,3.000000

In [6]:
df.dtypes

price                 int64
area                  int64
bedrooms            float64
bathrooms           float64
stories             float64
mainroad             object
guestroom            object
basement             object
hotwaterheating      object
airconditioning      object
parking             float64
prefarea             object
furnishingstatus     object
dtype: object

In [7]:
df.isnull().sum()

price               0
area                0
bedrooms            5
bathrooms           5
stories             2
mainroad            0
guestroom           0
basement            0
hotwaterheating     0
airconditioning     0
parking             4
prefarea            0
furnishingstatus    0
dtype: int64

In [8]:
(df == 0).sum()

price                 0
area                  0
bedrooms              0
bathrooms             0
stories               0
mainroad              0
guestroom             0
basement              0
hotwaterheating       0
airconditioning       0
parking             297
prefarea              0
furnishingstatus      0
dtype: int64

In [9]:
mean = df.mean(numeric_only = True)
mean

price        4.766729e+06
area         5.150541e+03
bedrooms     2.961111e+00
bathrooms    1.285185e+00
stories      1.804788e+00
parking      6.913124e-01
dtype: float64

In [10]:
df3 = df.fillna (mean,inplace = True)
df3

In [11]:
sub1=df[0:101]
sub1

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4.000000,2.0,3.0,yes,no,no,no,yes,2.000000,yes,furnished
1,12250000,8960,4.000000,4.0,4.0,yes,no,no,no,yes,3.000000,no,furnished
2,12250000,9960,3.000000,2.0,2.0,yes,no,yes,no,no,2.000000,yes,semi-furnished
3,12215000,7500,4.000000,2.0,2.0,yes,no,yes,no,yes,3.000000,yes,furnished
4,11410000,7420,4.000000,1.0,2.0,yes,yes,yes,no,yes,2.000000,no,furnished
...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,6300000,9000,3.000000,1.0,1.0,yes,no,yes,no,no,1.000000,yes,furnished
97,6300000,6400,3.000000,1.0,1.0,yes,yes,yes,no,yes,1.000000,yes,semi-furnished
98,6293000,6600,2.961111,2.0,3.0,yes,no,no,no,yes,0.691312,yes,unfurnished
99,6265000,6000,4.000000,1.0,3.0,yes,yes,yes,no,no,0.000000,yes,unfurnished
100,6230000,6600,3.000000,2.0,1.0,yes,no,yes,no,yes,0.000000,yes,unfurnished

In [12]:
sub2 = df.loc[df['furnishingstatus'] == 'furnished']
sub2

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4.0,2.0,3.0,yes,no,no,no,yes,2.0,yes,furnished
1,12250000,8960,4.0,4.0,4.0,yes,no,no,no,yes,3.0,no,furnished
3,12215000,7500,4.0,2.0,2.0,yes,no,yes,no,yes,3.0,yes,furnished
4,11410000,7420,4.0,1.0,2.0,yes,yes,yes,no,yes,2.0,no,furnished
8,9870000,8100,4.0,1.0,2.0,yes,yes,yes,no,yes,2.0,yes,furnished
...,...,...,...,...,...,...,...,...,...,...,...,...,...
509,2590000,3600,2.0,2.0,2.0,yes,no,yes,no,no,1.0,no,furnished
512,2520000,3000,2.0,1.0,2.0,yes,no,no,no,no,0.0,no,furnished
522,2380000,2475,3.0,1.0,2.0,yes,no,no,no,no,0.0,no,furnished
523,2380000,2787,4.0,2.0,2.0,yes,no,no,no,no,0.0,no,furnished
543,1750000,2910,3.0,1.0,1.0,no,no,no,no,no,0.0,no,furnished

In [13]:
sub3 = df[["price","area","basement","parking","furnishingstatus"]]
sub3

        price  area basement  parking furnishingstatus
0    13300000  7420       no      2.0        furnished
1    12250000  8960       no      3.0        furnished
2    12250000  9960      yes      2.0   semi-furnished
3    12215000  7500      yes      3.0        furnished
4    11410000  7420      yes      2.0        furnished
..        ...   ...      ...      ...              ...
540   1820000  3000      yes      2.0      unfurnished
541   1767150  2400       no      0.0   semi-furnished
542   1750000  3620       no      0.0      unfurnished
543   1750000  2910       no      0.0        furnished
544   1750000  3850       no      0.0      unfurnished

[545 rows x 5 columns]

In [14]:
subset = df.loc[(df["area"] >1000)]
subset

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4.0,2.0,3.0,yes,no,no,no,yes,2.0,yes,furnished
1,12250000,8960,4.0,4.0,4.0,yes,no,no,no,yes,3.0,no,furnished
2,12250000,9960,3.0,2.0,2.0,yes,no,yes,no,no,2.0,yes,semi-furnished
3,12215000,7500,4.0,2.0,2.0,yes,no,yes,no,yes,3.0,yes,furnished
4,11410000,7420,4.0,1.0,2.0,yes,yes,yes,no,yes,2.0,no,furnished
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2.0,1.0,1.0,yes,no,yes,no,no,2.0,no,unfurnished
541,1767150,2400,3.0,1.0,1.0,no,no,no,no,no,0.0,no,semi-furnished
542,1750000,3620,2.0,1.0,1.0,yes,no,no,no,no,0.0,no,unfurnished
543,1750000,2910,3.0,1.0,1.0,no,no,no,no,no,0.0,no,furnished
544,1750000,3850,3.0,1.0,2.0,yes,no,no,no,no,0.0,no,unfurnished

In [15]:
sub4=df.loc[df["bathrooms"]>=2]
sub4

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4.0,2.0,3.0,yes,no,no,no,yes,2.0,yes,furnished
1,12250000,8960,4.0,4.0,4.0,yes,no,no,no,yes,3.0,no,furnished
2,12250000,9960,3.0,2.0,2.0,yes,no,yes,no,no,2.0,yes,semi-furnished
3,12215000,7500,4.0,2.0,2.0,yes,no,yes,no,yes,3.0,yes,furnished
5,10850000,7500,3.0,3.0,1.0,yes,no,yes,no,yes,2.0,yes,semi-furnished
...,...,...,...,...,...,...,...,...,...,...,...,...,...
413,3430000,1950,3.0,2.0,2.0,yes,no,yes,no,no,0.0,yes,unfurnished
446,3150000,3986,2.0,2.0,1.0,no,yes,yes,no,no,1.0,no,unfurnished
499,2660000,3630,3.0,3.0,2.0,no,yes,no,no,no,0.0,no,unfurnished
509,2590000,3600,2.0,2.0,2.0,yes,no,yes,no,no,1.0,no,furnished
523,2380000,2787,4.0,2.0,2.0,yes,no,no,no,no,0.0,no,furnished

In [16]:
k=sub4[10:151]
k

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
13,9240000,3500,4.000000,2.0,2.0,yes,no,no,yes,no,2.0,no,furnished
14,9240000,7800,2.961111,2.0,2.0,yes,no,no,no,no,0.0,yes,semi-furnished
16,9100000,6600,4.000000,2.0,2.0,yes,yes,yes,no,yes,1.0,yes,unfurnished
17,8960000,8500,3.000000,2.0,4.0,yes,no,no,no,yes,2.0,no,furnished
18,8890000,4600,3.000000,2.0,2.0,yes,yes,no,no,yes,2.0,no,furnished
...,...,...,...,...,...,...,...,...,...,...,...,...,...
413,3430000,1950,3.000000,2.0,2.0,yes,no,yes,no,no,0.0,yes,unfurnished
446,3150000,3986,2.000000,2.0,1.0,no,yes,yes,no,no,1.0,no,unfurnished
499,2660000,3630,3.000000,3.0,2.0,no,yes,no,no,no,0.0,no,unfurnished
509,2590000,3600,2.000000,2.0,2.0,yes,no,yes,no,no,1.0,no,furnished
523,2380000,2787,4.000000,2.0,2.0,yes,no,no,no,no,0.0,no,furnished