In [1]:
import pandas as pd
import seaborn as sns

In [2]:
Df = pd.read_csv("bike_datset_hour.csv")
Df

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,01-01-2011,1.0,0.0,1.0,0.0,0,6.0,0,1,0.24,0.2879,0.81,0.0000,3.0,13.0,16
1,2,01-01-2011,1.0,0.0,1.0,1.0,0,6.0,0,1,0.22,0.2727,0.80,0.0000,8.0,32.0,40
2,3,01-01-2011,1.0,0.0,1.0,2.0,0,6.0,0,1,0.22,0.2727,0.80,0.0000,5.0,27.0,32
3,4,01-01-2011,1.0,0.0,1.0,3.0,0,6.0,0,1,0.24,0.2879,0.75,0.0000,3.0,10.0,13
4,5,01-01-2011,1.0,0.0,1.0,4.0,0,6.0,0,1,0.24,0.2879,0.75,0.0000,0.0,1.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17374,17375,31-12-2012,NaN,1.0,12.0,19.0,0,1.0,1,2,0.26,0.2576,0.60,0.1642,11.0,108.0,119
17375,17376,31-12-2012,1.0,1.0,12.0,20.0,0,1.0,1,2,0.26,0.2576,0.60,0.1642,8.0,81.0,89
17376,17377,31-12-2012,1.0,1.0,12.0,21.0,0,1.0,1,1,0.26,0.2576,0.60,0.1642,7.0,83.0,90
17377,17378,31-12-2012,1.0,1.0,12.0,22.0,0,1.0,1,1,0.26,0.2727,0.56,0.1343,13.0,48.0,61
17378,17379,31-12-2012,1.0,1.0,12.0,23.0,0,1.0,1,1,0.26,NaN,0.65,NaN,12.0,37.0,49

In [3]:
Df.dtypes

instant         int64
dteday         object
season        float64
yr            float64
mnth          float64
hr            float64
holiday         int64
weekday       float64
workingday      int64
weathersit      int64
temp          float64
atemp         float64
hum           float64
windspeed     float64
casual        float64
registered    float64
cnt             int64
dtype: object

In [4]:
Df.shape

(17379, 17)

In [5]:
Df.describe

<bound method NDFrame.describe of        instant      dteday  season   yr  mnth    hr  holiday  weekday  \
0            1  01-01-2011     1.0  0.0   1.0   0.0        0      6.0
1            2  01-01-2011     1.0  0.0   1.0   1.0        0      6.0
2            3  01-01-2011     1.0  0.0   1.0   2.0        0      6.0
3            4  01-01-2011     1.0  0.0   1.0   3.0        0      6.0
4            5  01-01-2011     1.0  0.0   1.0   4.0        0      6.0
...        ...         ...     ...  ...   ...   ...      ...      ...
17374    17375  31-12-2012     NaN  1.0  12.0  19.0        0      1.0
17375    17376  31-12-2012     1.0  1.0  12.0  20.0        0      1.0
17376    17377  31-12-2012     1.0  1.0  12.0  21.0        0      1.0
17377    17378  31-12-2012     1.0  1.0  12.0  22.0        0      1.0
17378    17379  31-12-2012     1.0  1.0  12.0  23.0        0      1.0

       workingday  weathersit  temp   atemp   hum  windspeed  casual  \
0               0           1  0.24  0.2879  0.81     0.0000     3.0
1               0           1  0.22  0.2727  0.80     0.0000     8.0
2               0           1  0.22  0.2727  0.80     0.0000     5.0
3               0           1  0.24  0.2879  0.75     0.0000     3.0
4               0           1  0.24  0.2879  0.75     0.0000     0.0
...           ...         ...   ...     ...   ...        ...     ...
17374           1           2  0.26  0.2576  0.60     0.1642    11.0
17375           1           2  0.26  0.2576  0.60     0.1642     8.0
17376           1           1  0.26  0.2576  0.60     0.1642     7.0
17377           1           1  0.26  0.2727  0.56     0.1343    13.0
17378           1           1  0.26     NaN  0.65        NaN    12.0

       registered  cnt
0            13.0   16
1            32.0   40
2            27.0   32
3            10.0   13
4             1.0    1
...           ...  ...
17374       108.0  119
17375        81.0   89
17376        83.0   90
17377        48.0   61
17378        37.0   49

[17379 rows x 17 columns]>

In [6]:
Df.isnull().sum()

instant       0
dteday        0
season        2
yr            1
mnth          1
hr            1
holiday       0
weekday       1
workingday    0
weathersit    0
temp          1
atemp         2
hum           0
windspeed     1
casual        1
registered    1
cnt           0
dtype: int64

In [7]:
 (Df==0).sum()

instant           0
dteday            0
season            0
yr             8645
mnth              0
hr              726
holiday       16879
weekday        2502
workingday     5514
weathersit        0
temp              0
atemp             2
hum              22
windspeed      2180
casual         1581
registered       24
cnt               0
dtype: int64

In [8]:
Mean = Df.mean(numeric_only =True)
Mean

instant       8690.000000
season           2.501813
yr               0.502532
mnth             6.537461
hr              11.546438
holiday          0.028770
weekday          3.003510
workingday       0.682721
weathersit       1.425283
temp             0.496992
atemp            0.475799
hum              0.627229
windspeed        0.190101
casual          35.673208
registered     153.789849
cnt            189.463088
dtype: float64

In [9]:
replace=Df.fillna(Mean,inplace=True)
replace
Df

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,01-01-2011,1.000000,0.0,1.0,0.0,0,6.0,0,1,0.24,0.287900,0.81,0.000000,3.0,13.0,16
1,2,01-01-2011,1.000000,0.0,1.0,1.0,0,6.0,0,1,0.22,0.272700,0.80,0.000000,8.0,32.0,40
2,3,01-01-2011,1.000000,0.0,1.0,2.0,0,6.0,0,1,0.22,0.272700,0.80,0.000000,5.0,27.0,32
3,4,01-01-2011,1.000000,0.0,1.0,3.0,0,6.0,0,1,0.24,0.287900,0.75,0.000000,3.0,10.0,13
4,5,01-01-2011,1.000000,0.0,1.0,4.0,0,6.0,0,1,0.24,0.287900,0.75,0.000000,0.0,1.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17374,17375,31-12-2012,2.501813,1.0,12.0,19.0,0,1.0,1,2,0.26,0.257600,0.60,0.164200,11.0,108.0,119
17375,17376,31-12-2012,1.000000,1.0,12.0,20.0,0,1.0,1,2,0.26,0.257600,0.60,0.164200,8.0,81.0,89
17376,17377,31-12-2012,1.000000,1.0,12.0,21.0,0,1.0,1,1,0.26,0.257600,0.60,0.164200,7.0,83.0,90
17377,17378,31-12-2012,1.000000,1.0,12.0,22.0,0,1.0,1,1,0.26,0.272700,0.56,0.134300,13.0,48.0,61
17378,17379,31-12-2012,1.000000,1.0,12.0,23.0,0,1.0,1,1,0.26,0.475799,0.65,0.190101,12.0,37.0,49

In [13]:
sub1=Df[0:101]
sub1

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,01-01-2011,1.0,0.0,1.0,0.0,0,6.0,0,1,0.24,0.2879,0.81,0.0000,3.0,13.0,16
1,2,01-01-2011,1.0,0.0,1.0,1.0,0,6.0,0,1,0.22,0.2727,0.80,0.0000,8.0,32.0,40
2,3,01-01-2011,1.0,0.0,1.0,2.0,0,6.0,0,1,0.22,0.2727,0.80,0.0000,5.0,27.0,32
3,4,01-01-2011,1.0,0.0,1.0,3.0,0,6.0,0,1,0.24,0.2879,0.75,0.0000,3.0,10.0,13
4,5,01-01-2011,1.0,0.0,1.0,4.0,0,6.0,0,1,0.24,0.2879,0.75,0.0000,0.0,1.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,97,05-01-2011,1.0,0.0,1.0,5.0,0,3.0,1,1,0.22,0.2273,0.47,0.1642,0.0,3.0,3
97,98,05-01-2011,1.0,0.0,1.0,6.0,0,3.0,1,1,0.20,0.1970,0.47,0.2239,0.0,33.0,33
98,99,05-01-2011,1.0,0.0,1.0,7.0,0,3.0,1,1,0.18,0.1818,0.43,0.1940,1.0,87.0,88
99,100,05-01-2011,1.0,0.0,1.0,8.0,0,3.0,1,1,0.20,0.1818,0.40,0.2985,3.0,192.0,195
100,101,05-01-2011,1.0,0.0,1.0,9.0,0,3.0,1,1,0.22,0.1970,0.37,0.3284,6.0,109.0,115

In [14]:
sub2=Df.loc[(Df["yr"] == 1)]
sub2

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
8645,8646,01-01-2012,1.000000,1.0,1.0,0.0,0,0.0,0,1,0.36,0.378800,0.66,0.000000,5.0,43.0,48
8646,8647,01-01-2012,1.000000,1.0,1.0,1.0,0,0.0,0,1,0.36,0.348500,0.66,0.134300,15.0,78.0,93
8647,8648,01-01-2012,1.000000,1.0,1.0,2.0,0,0.0,0,1,0.32,0.348500,0.76,0.000000,16.0,59.0,75
8648,8649,01-01-2012,1.000000,1.0,1.0,3.0,0,0.0,0,1,0.30,0.333300,0.81,0.000000,11.0,41.0,52
8649,8650,01-01-2012,1.000000,1.0,1.0,4.0,0,0.0,0,1,0.28,0.303000,0.81,0.089600,0.0,8.0,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17374,17375,31-12-2012,2.501813,1.0,12.0,19.0,0,1.0,1,2,0.26,0.257600,0.60,0.164200,11.0,108.0,119
17375,17376,31-12-2012,1.000000,1.0,12.0,20.0,0,1.0,1,2,0.26,0.257600,0.60,0.164200,8.0,81.0,89
17376,17377,31-12-2012,1.000000,1.0,12.0,21.0,0,1.0,1,1,0.26,0.257600,0.60,0.164200,7.0,83.0,90
17377,17378,31-12-2012,1.000000,1.0,12.0,22.0,0,1.0,1,1,0.26,0.272700,0.56,0.134300,13.0,48.0,61
17378,17379,31-12-2012,1.000000,1.0,12.0,23.0,0,1.0,1,1,0.26,0.475799,0.65,0.190101,12.0,37.0,49

In [15]:
imp_cls = Df[["season","yr","holiday","weekday","windspeed"]]
imp_cls

         season   yr  holiday  weekday  windspeed
0      1.000000  0.0        0      6.0   0.000000
1      1.000000  0.0        0      6.0   0.000000
2      1.000000  0.0        0      6.0   0.000000
3      1.000000  0.0        0      6.0   0.000000
4      1.000000  0.0        0      6.0   0.000000
...         ...  ...      ...      ...        ...
17374  2.501813  1.0        0      1.0   0.164200
17375  1.000000  1.0        0      1.0   0.164200
17376  1.000000  1.0        0      1.0   0.164200
17377  1.000000  1.0        0      1.0   0.134300
17378  1.000000  1.0        0      1.0   0.190101

[17379 rows x 5 columns]

In [17]:
sub3=Df.loc[(Df["weekday"]==0) & (Df["weathersit"] ==3)]
sub3

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
29,30,02-01-2011,1.0,0.0,1.0,6.0,0,0.0,0,3,0.42,0.4242,0.77,0.2985,0.0,2.0,2
31,32,02-01-2011,1.0,0.0,1.0,8.0,0,0.0,0,3,0.40,0.4091,0.71,0.2239,0.0,8.0,8
37,38,02-01-2011,1.0,0.0,1.0,14.0,0,0.0,0,3,0.36,0.3485,0.76,0.1940,4.0,55.0,59
38,39,02-01-2011,1.0,0.0,1.0,15.0,0,0.0,0,3,0.34,0.3333,0.81,0.1642,19.0,55.0,74
39,40,02-01-2011,1.0,0.0,1.0,16.0,0,0.0,0,3,0.34,0.3333,0.71,0.1642,9.0,67.0,76
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16849,16850,09-12-2012,4.0,1.0,12.0,20.0,0,0.0,0,3,0.36,0.3636,1.00,0.0896,6.0,102.0,108
16851,16852,09-12-2012,4.0,1.0,12.0,22.0,0,0.0,0,3,0.36,0.3636,0.93,0.1045,3.0,75.0,78
16852,16853,09-12-2012,4.0,1.0,12.0,23.0,0,0.0,0,3,0.36,0.3636,1.00,0.0896,3.0,48.0,51
16998,16999,16-12-2012,4.0,1.0,12.0,1.0,0,0.0,0,3,0.34,0.3485,0.76,0.1045,14.0,82.0,96
17015,17016,16-12-2012,4.0,1.0,12.0,18.0,0,0.0,0,3,0.38,0.3939,0.82,0.1045,8.0,99.0,107

In [25]:
sub4=Df.loc[Df["weathersit"]==3]
sub4

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
18,19,01-01-2011,1.0,0.0,1.0,18.0,0,6.0,0,3,0.42,0.4242,0.88,0.2537,9.0,26.0,35
19,20,01-01-2011,1.0,0.0,1.0,19.0,0,6.0,0,3,0.42,0.4242,0.88,0.2537,6.0,31.0,37
29,30,02-01-2011,1.0,0.0,1.0,6.0,0,0.0,0,3,0.42,0.4242,0.77,0.2985,0.0,2.0,2
31,32,02-01-2011,1.0,0.0,1.0,8.0,0,0.0,0,3,0.40,0.4091,0.71,0.2239,0.0,8.0,8
37,38,02-01-2011,1.0,0.0,1.0,14.0,0,0.0,0,3,0.36,0.3485,0.76,0.1940,4.0,55.0,59
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17260,17261,27-12-2012,1.0,1.0,12.0,1.0,0,4.0,1,3,0.24,0.1970,0.93,0.4478,0.0,5.0,5
17317,17318,29-12-2012,1.0,1.0,12.0,10.0,0,6.0,0,3,0.26,0.2424,0.81,0.1343,6.0,35.0,41
17318,17319,29-12-2012,1.0,1.0,12.0,11.0,0,6.0,0,3,0.20,0.2424,0.93,0.0896,7.0,38.0,45
17319,17320,29-12-2012,1.0,1.0,12.0,12.0,0,6.0,0,3,0.20,0.2424,1.00,0.0000,5.0,43.0,48
17320,17321,29-12-2012,1.0,1.0,12.0,13.0,0,6.0,0,3,0.20,0.2424,1.00,0.0000,13.0,71.0,84

In [26]:
k=sub4[10:151]
k

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
169,170,08-01-2011,1.0,0.0,1.0,8.0,0,6.0,0,3,0.16,0.1818,0.93,0.1045,0.0,15.0,15
170,171,08-01-2011,1.0,0.0,1.0,9.0,0,6.0,0,3,0.16,0.1818,0.93,0.1045,0.0,20.0,20
249,250,11-01-2011,1.0,0.0,1.0,18.0,0,2.0,1,3,0.16,0.1818,0.93,0.1045,1.0,94.0,95
250,251,11-01-2011,1.0,0.0,1.0,19.0,0,2.0,1,3,0.16,0.2273,0.93,0.0000,0.0,51.0,51
251,252,11-01-2011,1.0,0.0,1.0,20.0,0,2.0,1,3,0.16,0.1515,0.93,0.1940,0.0,32.0,32
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1570,1571,10-03-2011,1.0,0.0,3.0,21.0,0,4.0,1,3,0.36,0.3485,0.00,0.2239,1.0,27.0,28
1572,1573,10-03-2011,1.0,0.0,3.0,23.0,0,4.0,1,3,0.34,0.3485,0.00,0.0896,1.0,26.0,27
1574,1575,11-03-2011,1.0,0.0,3.0,1.0,0,5.0,1,3,0.34,0.3485,1.00,0.1045,0.0,8.0,8
1575,1576,11-03-2011,1.0,0.0,3.0,2.0,0,5.0,1,3,0.34,0.3485,1.00,0.1045,2.0,3.0,5
1686,1687,15-03-2011,1.0,0.0,3.0,21.0,0,2.0,1,3,0.32,0.3333,0.81,0.1045,2.0,53.0,55